body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f4;
}

header {
    background: #005f73;
    color: #ffffff;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #027373;
}

.nav-button {
    background-color: #02a9a9;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.nav-button:hover {
    background-color: #014f4f;
}

.full-background {
    background-image: url(https://i.ibb.co/5jGJccD/Indonesia-Open-Bali.png);
    background-size: 34% 100%; /* This stretches the image to fit exactly, but can distort it */
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}



@media (max-width: 768px) {
    .full-background {
        background-size: contain; /* Adjust so the whole image can be seen on smaller devices */
        background-position: top center; /* Optional, if the top part of the image is more important */
    }
}

#event-info, #schedule, #register {
    background: #ffffff;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

#event-info h2, #schedule h2, #register h2 {
    color: #333;
}

#performers {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #edf6f9;
}

.performer {
    text-align: center;
    flex-basis: 45%;
}

.performer img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background: #293241;
    color: white;
}

footer a {
    color: #ee6c4d;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"],
form input[type="email"],
form input[type="submit"] {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    cursor: pointer;
    background-color: #028482;
    color: white;
}

form input[type="submit"]:hover {
    background-color: #026262;
}

.red-text {
    color: red;
}
